body {
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  margin-bottom: 12px;
}

.authorize-form {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > .span {
  margin-bottom: 4px;
}