body {
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  margin-bottom: 24px;
}

.authorize-form {
  display: flex;
}

.authorize-form > input {
  margin-left: 6px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > span {
  margin-bottom: 4px;
}