{% block content %}
  <canvas id="contributionsByWeeks" width="2400" height="600"></canvas>
  <canvas id="contributionsByDays" width="2400" height="600"></canvas>
  <script>
  data = JSON.parse('{{ weeks|safe }}');
  if ('{{ prediction }}'.length) {
    predictedDays = JSON.parse('{{ prediction|safe }}');
    console.log('prediction', predictedDays);
  }

  console.log('data', data); 

  contributionsByWeeksLabels = [];
  contributionsByWeeks = [];

  contributionsByDaysLabels = [];
  contributionsByDays = [];

  let acum ;
  for (let week of data) {
    acum = 0;
    contributionsByWeeksLabels.push(week.firstDay);
    for (let day of week.contributionDays) {
      contributionsByDays.push(day.contributionCount);
      contributionsByDaysLabels.push(day.date);
      acum += day.contributionCount;
    }
    contributionsByWeeks.push(acum);
  }

  // console.log('contributionsByWeeks', contributionsByWeeks);
  // console.log('contributionsByDays', contributionsByDays);

  new Chart(document.getElementById('contributionsByWeeks').getContext('2d'), {
    type: 'line',
    data: {
      labels: contributionsByWeeksLabels,
      datasets: [{
        label: 'Contributions by weeks',
        borderColor: '#239a3b',
        data: contributionsByWeeks,
        fill: false,
      }]
    },
    options: {
      responsive: false,
    }
  });

  new Chart(document.getElementById('contributionsByDays').getContext('2d'), {
    type: 'line',
    data: {
      labels: contributionsByDaysLabels,
      datasets: [{
        label: 'Contributions by days',
        borderColor: '#239a3b',
        data: contributionsByDays,
        fill: false,
      }]
    },
    options: {
      responsive: false,
    }
  });
  </script>
{% endblock %}