{% extends "layout.html" %}

{% block content %}
  <h1>Contributions predictor</h1>
  {% if current_user %}
    <div class="wrapper">
      <span>Welcome {{current_user['name']}}</span>
      <span>Username: {{username}}</span>
      <span>Total contributions in the last year: {{current_user['total_contributions']}}</span>
      {% if prediction_status %}
        <span>Prediction status: {{prediction_status}}</span>
      {% else %}
        <a href="/prediction">Calculate prediction</a>
      {% endif %}
      <a href="/oauth/logout">Logout</a>
    </div>
    {% include 'chart.html' %}
  {% else %}
    <form class="authorize-form" action="/oauth/authorize">
      Github username <input type="text" name="username" value="{{ username }}">
      <input type="submit" value="Connect with Github">
    </form>
  {% endif %}
{% endblock %}