{% extends "layout.html" %}

{% block content %}
  <h1>Contributions predictor</h1>
  <form action="/oauth/authorize">
    Github username: <input type="text" name="username" value="{{ username }}">
    <br>
    <input type="submit" value="Connect with Github">
  </form>
  {% if current_user %}
    <p>
      <span class="variable">Welcome {{current_user['name']}}</span>
      <span class="variable">Total contributions in the last year: {{current_user['total_contributions']}}</span>
    </p>
    {% include 'chart.html' %}
  {% endif %}
{% endblock %}